body{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    font-family: 'Roboto', sans-serif;
}
.container{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tab-1{
    background-color: #989E8B;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
table{
    margin: 0 auto;
    /*background-color: white;*/
    padding: 10px;
}
table,th,td{
    border-radius: 5px;
    border-collapse: collapse;
    text-align: center;
}
td,th{
    /*background-color: white ;*/
    padding:10px;
    color: black;
}
tr{
    cursor: pointer;
}
.tab-2{
    background-color: #DDB8A6;
    padding: 10px;
    border-radius: 5px ;
}
.tab-2{
    font-weight: bold;
    display: flex;
}
input{
    border: none;
    border-radius: 5px;
    width: 10rem;
    height: 1.5rem;
}
#button{
    text-align: left;
    margin: auto 20px;
}
button{
    border: none;
    width: 4rem;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 2px;
    background-color: #989E8B;
    color: white;
    transition: 1s;
}
button:hover {
    transform: scale(1.1) perspective(1px)
}
.input{
    margin-bottom: 5px;
}
#instruction{
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #F2D096;
}